* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Georgia', sans-serif;*/
}

.main-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: center;
    margin: 10px;
    line-height: 1.9;
    word-spacing: 12px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #000000;
    font-style: oblique;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px ridge slategray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}


.item-container>* {
    flex: 1 1 50px;
}


.image-container {
    width: 40%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border: 1px solid slategray;
    border-radius: 15px;
    flex-wrap: wrap;
}

.image-container-right {
    width: 60%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}

.detail-container {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.detail-container .header {
    margin: 10px;
    line-height: 1.9;
    word-spacing: 12px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px #000000;
    font-style: oblique;
}

.question {
    margin: 10px;
    line-height: 1.9;
    word-spacing: 12px;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: 900;
    align-items: center;
    align-content: center;
}

.paragraph {
    margin: 10px;
    font-family: 'Georgia', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

.paragraph li{
    margin: 20px 0;
}