.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/
    font-family: 'Georgia', sans-serif;
    align-items: center;
    height: 80%;
}
.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-item {
    justify-content: center;
    margin: 10px;
}

.left-item {
    flex: 40%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.right-item {
    flex: 60%;
    margin-left: 05px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    font-style: italic;
}
textarea::placeholder {
    font-weight: bold;
    opacity: 0.5;
    font-style: italic;
}


.right-item-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-item #contact-form {
    flex: 60%;
    margin-left: 05px;
    display: flex;
    flex-direction: column;
}

#input-name, #input-email{
    margin-bottom: 10px;
    width: 70%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
#input-phone {
    margin-bottom: 5px;
    width: 40%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type=text]:focus {
    background-color: lightblue;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
}

#button {
    background-color: darkslategray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: floralwhite;
    border-radius: 8px;
    cursor: pointer;
}

label {
    margin-top: 5px;
    line-height:24px;
    font-size:18px;
}

.material-icons{
    display: inline-flex;
    vertical-align: -6px;
}

.submit-message{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.submit-message .success{
    font-size: 15px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.submit-message .danger{
    font-size: 15px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
/*font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/

