* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}

.main-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main-header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px ridge slategray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.item-container>* {
    flex: 1 1 40px;
}



.image-container {
    width: 40%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border: 1px solid slategray;
    border-radius: 15px;
    flex-wrap: wrap;
}

.detail-container {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    flex-wrap: wrap;
}


.header1 {
    margin: 10px;
    line-height: 1.9;
    word-spacing: 12px;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: 100;
}

.header2 {
    margin: 5px;
    line-height: 1.9;
    word-spacing: 12px;
    letter-spacing: 2px;
    font-style: oblique;
    font-weight: 900;
    align-items: center;
    align-content: center;
}

.paragraph {
    margin: 10px;
    font-family: 'Georgia', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}
.service-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px ridge slategray;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
    border: 1px ridge slategray;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    height: 100px;
}